In [1]:
import pandas as pd
final=pd.DataFrame()
url = 'https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;spanmax1=31+Dec+2020;spanmin1=01+Jan+1965;spanval1=span;template=results;type=aggregate;view=results'

df_list1 = pd.read_html(url)

for i in range(2,25):
    url2='https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;page={};spanmax1=31+Dec+2020;spanmin1=01+Jan+1965;spanval1=span;template=results;type=aggregate;view=results'
    url1=url2.format(i)
    df_list = pd.read_html(url1)
    df=df_list[2]
    final=final.append(df)
final_df = df_list1[2]
data = final_df.append(final)
data = data.reset_index()
data = data.drop(['index','BR','Unnamed: 4','Unnamed: 8'],axis=1)

In [2]:
data=data[data['Winner'].notna()]

In [3]:
data[['First Team','Second Team']]=data['Match'].str.split(' v ',1,expand=True)
data=data.drop(['Match'],axis=1)
data

,Winner,Result,Margin,Ground,Start Date,First Team,Second Team
0,Australia,won,44 runs,Auckland,17 Feb 2005,New Zealand,Australia
1,England,won,100 runs,Southampton,13 Jun 2005,England,Australia
2,New Zealand,won,5 wickets,Johannesburg,21 Oct 2005,South Africa,New Zealand
3,Australia,won,95 runs,Brisbane,9 Jan 2006,Australia,South Africa
5,South Africa,won,2 runs,Johannesburg,24 Feb 2006,South Africa,Australia
...,...,...,...,...,...,...,...
1170,India,won,6 wickets,Sydney,6 Dec 2020,Australia,India
1171,Australia,won,12 runs,Sydney,8 Dec 2020,Australia,India
1172,New Zealand,won,5 wickets,Auckland,18 Dec 2020,New Zealand,Pakistan
1173,New Zealand,won,9 wickets,Hamilton,20 Dec 2020,New Zealand,Pakistan
1174,Pakistan,won,4 wickets,Napier,22 Dec 2020,New Zealand,Pakistan

In [5]:
import pandas as pd

fixture = pd.read_excel("Crickathon phase 1 teams.xlsx")
fixture=fixture.drop(['Winner','Probability of Winning','Group','Round'],axis=1)

In [6]:
ls= pd.unique(fixture['First Team'])
ls1=pd.unique(fixture['Second Team'])
teams = list(set().union(ls,ls1))
teams

['Sri Lanka',
 'Papua New Guinea',
 'Netherlands',
 'Bangladesh',
 'Namibia',
 'Scotland',
 'Oman',
 'Ireland']

In [7]:
df_teams = data[data['First Team'].isin(teams) & data['Second Team'].isin(teams)]
#df_teams_2 = data[data['Second Team'].isin(teams)]
#df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams

,Winner,Result,Margin,Ground,Start Date,First Team,Second Team
37,Sri Lanka,won,64 runs,Johannesburg,18 Sep 2007,Bangladesh,Sri Lanka
58,Ireland,won,4 wickets,Belfast,2 Aug 2008,Ireland,Scotland
64,Netherlands,won,5 wickets,Belfast,4 Aug 2008,Netherlands,Scotland
96,Ireland,won,6 wickets,Nottingham,8 Jun 2009,Bangladesh,Ireland
108,Sri Lanka,won,9 runs,Lord's,14 Jun 2009,Ireland,Sri Lanka
...,...,...,...,...,...,...,...
1012,Netherlands,won,4 wickets,Dubai (DSC),27 Oct 2019,Netherlands,Scotland
1016,Namibia,won,54 runs,Dubai (DSC),29 Oct 2019,Namibia,Oman
1020,Scotland,won,5 wickets,ICCA Dubai,31 Oct 2019,Oman,Scotland
1023,Netherlands,won,21 runs,Dubai (DSC),1 Nov 2019,Ireland,Netherlands
1025,Ireland,won,27 runs,Dubai (DSC),2 Nov 2019,Ireland,Namibia

In [8]:

url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/t20i'
df_ls= pd.read_html(url)
icc_ranking=df_ls[0]

In [9]:
icc_ranking[['First','Second']]=icc_ranking['Team  T'].str.split(' ',1,expand=True)
icc_ranking[['2nd','3rd']]=icc_ranking['Second'].str.split(' ',1,expand=True)

icc_ranking['Team']=icc_ranking['First']+' '+icc_ranking['2nd']
icc_ranking=icc_ranking.drop(['Team  T','First','Second','2nd','3rd'],axis=1)
icc_ranking['Team']=icc_ranking['Team'].str.strip()

icc_ranking['Team'] = icc_ranking['Team'].str.replace('Papua New','Papua New Guinea')
icc_ranking

    Pos  Matches  M  Points  P  Rating  R          Team
0     1          28       7786        278       England
1     2          28       7456        266         India
2     3          34       8883        261      Pakistan
3     4          28       7192        257   New Zealand
4     5          30       7489        250  South Africa
..  ...         ...        ...        ...           ...
81   82           3          0          0      Eswatini
82   83           3          0          0        Turkey
83   84           4          0          0         China
84   85           5          0          0        Serbia
85   86           9          0          0     Gibraltar

[86 rows x 5 columns]

In [10]:
df_teams.insert(1, 'first_position', df_teams['First Team'].map(icc_ranking.set_index('Team')['Pos']))
df_teams.insert(2, 'second_position', df_teams['Second Team'].map(icc_ranking.set_index('Team')['Pos']))

In [11]:
df_teams

,Winner,first_position,second_position,Result,Margin,Ground,Start Date,First Team,Second Team
37,Sri Lanka,6,10,won,64 runs,Johannesburg,18 Sep 2007,Bangladesh,Sri Lanka
58,Ireland,12,14,won,4 wickets,Belfast,2 Aug 2008,Ireland,Scotland
64,Netherlands,17,14,won,5 wickets,Belfast,4 Aug 2008,Netherlands,Scotland
96,Ireland,6,12,won,6 wickets,Nottingham,8 Jun 2009,Bangladesh,Ireland
108,Sri Lanka,12,10,won,9 runs,Lord's,14 Jun 2009,Ireland,Sri Lanka
...,...,...,...,...,...,...,...,...,...
1012,Netherlands,17,14,won,4 wickets,Dubai (DSC),27 Oct 2019,Netherlands,Scotland
1016,Namibia,19,18,won,54 runs,Dubai (DSC),29 Oct 2019,Namibia,Oman
1020,Scotland,18,14,won,5 wickets,ICCA Dubai,31 Oct 2019,Oman,Scotland
1023,Netherlands,12,17,won,21 runs,Dubai (DSC),1 Nov 2019,Ireland,Netherlands
1025,Ireland,12,19,won,27 runs,Dubai (DSC),2 Nov 2019,Ireland,Namibia

In [12]:
df_teams=df_teams.drop_duplicates()

In [13]:
df_teams=df_teams[['First Team', 'Second Team','Winner','first_position', 'second_position']]
df_teams

       First Team  Second Team       Winner  first_position  second_position
37     Bangladesh    Sri Lanka    Sri Lanka               6               10
58        Ireland     Scotland      Ireland              12               14
64    Netherlands     Scotland  Netherlands              17               14
96     Bangladesh      Ireland      Ireland               6               12
108       Ireland    Sri Lanka    Sri Lanka              12               10
...           ...          ...          ...             ...              ...
1012  Netherlands     Scotland  Netherlands              17               14
1016      Namibia         Oman      Namibia              19               18
1020         Oman     Scotland     Scotland              18               14
1023      Ireland  Netherlands  Netherlands              12               17
1025      Ireland      Namibia      Ireland              12               19

[70 rows x 5 columns]

In [14]:
fixture.insert(1, 'first_position', fixture['First Team'].map(icc_ranking.set_index('Team')['Pos']))
fixture.insert(2, 'second_position', fixture['Second Team'].map(icc_ranking.set_index('Team')['Pos']))

In [15]:
fixture

,Match No,first_position,second_position,Date,First Team,Second Team,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,1,18,15,2021-10-17,Oman,Papua New Guinea,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6,14,2021-10-17,Bangladesh,Scotland,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,12,17,2021-10-18,Ireland,Netherlands,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,10,19,2021-10-18,Sri Lanka,Namibia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,14,15,2021-10-19,Scotland,Papua New Guinea,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,18,6,2021-10-19,Oman,Bangladesh,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,19,17,2021-10-20,Namibia,Netherlands,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,10,12,2021-10-20,Sri Lanka,Ireland,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,6,15,2021-10-21,Bangladesh,Papua New Guinea,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,18,14,2021-10-21,Oman,Scotland,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,19,12,2021-10-22,Namibia,Ireland,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,10,17,2021-10-22,Sri Lanka,Netherlands,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
fixture = fixture.drop(['Date','Match No'],axis=1)
fixture

,first_position,second_position,First Team,Second Team,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,18,15,Oman,Papua New Guinea,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,14,Bangladesh,Scotland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,17,Ireland,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,19,Sri Lanka,Namibia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14,15,Scotland,Papua New Guinea,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,18,6,Oman,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,19,17,Namibia,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10,12,Sri Lanka,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6,15,Bangladesh,Papua New Guinea,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,18,14,Oman,Scotland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,19,12,Namibia,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,17,Sri Lanka,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:

df_teams=df_teams.dropna()
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder
ord_enc=OrdinalEncoder()
df_teams=df_teams.append(fixture)
#df_teams['First Team Code'] = ord_enc.fit_transform(df_teams[['First Team']])
#df_teams['Second Team Code'] = ord_enc.fit_transform(df_teams[['Second Team']])
final = pd.get_dummies(df_teams, prefix=['First Team', 'Second Team'], columns=['First Team', 'Second Team'])

#final=df_teams

final1=fixture

,Winner,first_position,second_position,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,...,First Team_Namibia,First Team_Oman,First Team_Scotland,First Team_Sri Lanka,Second Team_Bangladesh,Second Team_Ireland,Second Team_Namibia,Second Team_Netherlands,Second Team_Papua New Guinea,Second Team_Scotland
0,NaN,18,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,1,0
1,NaN,6,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
2,NaN,12,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
3,NaN,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,1,0,0,0
4,NaN,14,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,1,0
5,NaN,18,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,1,0,0,0,0,0
6,NaN,19,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,0,0,1,0,0
7,NaN,10,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,1,0,0,0,0
8,NaN,6,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
9,NaN,18,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,1
10,NaN,19,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,1,0,0,0,0
11,NaN,10,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,1,0,0

In [30]:
# Separate X and y sets
#X = final.drop(['First Team','Second Team','Winner'], axis=1)
#y = final["Winner"]
final = final.dropna()
X = final.drop(['Winner'], axis=1)
y = final["Winner"]
#final1 = pd.get_dummies(fixture, prefix=['First Team', 'Second Team'], columns=['First Team', 'Second Team'])
#X_test = final1.drop(['First Team','Second Team'], axis=1)


#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [31]:
X_train = X.iloc[:70]
X_test = X.iloc[-12:]

In [32]:
y_train = y.iloc[:70]
y_test = y.iloc[-12:]

In [27]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=42)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
#score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
#print("Test set accuracy: ", '%.3f'%(score2))

ValueError: Found array with 0 sample(s) (shape=(0, 34)) while a minimum of 1 is required.

In [28]:
pred=rf.predict(X_test)

NotFittedError: This RandomForestClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
pred

In [22]:
fixture['Winner']=pred
fixture

NameError: name 'pred' is not defined

In [23]:
fixture.to_excel("pred")

ValueError: No engine for filetype: ''